body {
  background: url(https://wallpaperaccess.com/full/3204572.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #1b1b1b;
}

.App {
  text-align: center;
}
.cmnt {
  width: 16px;
  height: auto;
}
.vte {
  width: 16px;
  height: auto;
}
.vte:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.vte1 {
  width: 20px;
  height: auto;
}
.vte1:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.card {
  text-align: center;
  width: 75%;
  display: flex;
  /* top:1; */
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin: auto;
  justify-content: column;
  background-color: lightgrey;
  border-radius: 10px;
  filter: opacity(0.94);
}
.commentSection {
  border: black solid 1px;
  background-color: darkgray;
  list-style-type: none;
  border-radius: 5px;
}
.cCard {
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  /* top:1; */
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: auto;
  justify-content: column;
  background-color: rgb(36, 36, 36);
  list-style-type: none;
  filter: opacity(0.94);
  border-bottom: solid 0.2px rgba(139, 139, 139, 0.137);
}
.authorTag {
  align-self: end;
  margin-right: 20px;
}

.tools {
  display: flex;
  width: 80%;
  flex-direction: row;
  margin: auto;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;
}
.votes {
  margin: 1%;
}
.commentNum {
  margin: 1%;
}
.date {
  margin: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  float: inherit;
  top: 0;
  background-color: #1b1b1b;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 3%;
  margin: auto;
  justify-content: space-between;
  z-index: 100;
}

.normal {
  text-decoration: none;
  color: black;
}

.burger {
  align-self: flex-end;
  margin: 5px;
}
.sideBar {
  padding-top: 20px;
  position: fixed;
  background-color: #1b1b1b;
  top: 50px;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  transform: translateX(-100%);
  transition: all 0.4s;
}
.listHeading {
  color: rgb(167, 167, 167);
}
.sideBar li {
  list-style: none;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;
  font-weight: bold;
  border-width: 0.2px;
}

.sideBar li:active {
  background-color: rgb(63, 62, 62);
}
.sideBar--open {
  transform: translateX(0%);
}
.topicLink {
  color: white;
  font-size: 0;
  text-decoration: none;
}
.topicLinks {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 3%;
}
.topicLink:active {
  color: darkgray;
}
.homeLink {
  text-decoration: none;
}
.logo {
  color: white;
  font-size: 2rem;
  padding-top: 2px;
  padding-right: 30px;
  margin: 2%;
  text-decoration: none;
}
.logo:active {
  color: darkgray;
}

@media (min-width: 640px) {
  body {
    background: url(https://wallpaperaccess.com/full/3204572.jpg) no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
  }

  .App {
    text-align: center;
  }

  .card {
    text-align: center;
    width: 75%;
    display: flex;
    top: 1;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin: auto;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 10px;
    filter: opacity(0.94);
  }
  .commentSection {
    border: black solid 1px;
    background-color: darkgray;
  }
  .authorTag {
    align-self: end;
    margin-right: 20px;
  }

  .tools {
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: auto;
    align-items: flex-end;
    justify-content: space-around;
  }
  .normal {
    text-decoration: none;
    color: black;
  }
  .votes {
    margin: 1%;
  }
  .commentNum {
    margin: 1%;
  }
  .date {
    margin: 1%;
  }
  .vte {
    width: 20px;
    height: auto;
  }
  .vte1 {
    width: 30px;
    height: auto;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .navBar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    float: inherit;
    top: 0;
    background-color: #1b1b1b;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
    margin: auto;
    justify-content: row;
    z-index: 100;
  }
  .linkBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    justify-content: space-around;
    width: 50%;
    align-self: baseline;
  }
  .topicLink {
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }
  .homeLink {
    text-decoration: none;
  }
  .logo {
    color: white;
    font-size: 3rem;
    padding-right: 30px;
    margin: 2%;
    text-decoration: none;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
