body {
  background: url(https://w0.peakpx.com/wallpaper/744/229/HD-wallpaper-whatsapp-cartoon-halloween-black-dark-simple-rock-skull.jpg )
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #1b1b1b;
}
.mobile body {

  height: 100%;

  overflow-x: hidden;

  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;

}
.cont {
  margin-top: 2%;
}
.signInCard li {
  list-style: none;
  margin: 5%;
}
.signInButton {
  margin-top: 2%;
  border-radius: 20px;
  font-weight: bold;
}
.signInButton:active {
  margin-top: 2%;
  border-radius: 20px;
  font-weight: bold;
  background-color: darkgray;
}
.cTools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.authorTag {
  align-self: flex-end;
  margin-right: 15px;
  list-style-type: none;
}
.bin {
  align-self: flex-start;
  margin-left: 1%;
  width: 5px;
  height: auto;
}

.username {
  visibility: visible;
  color: white;
  font-size: 1.6rem;
  align-self: flex-end;
  text-decoration: none;
  font-weight: bold;
}
.username:active {
  visibility: visible;
  color: darkgray;
}
.userName {
  visibility: collapse;
}
.userName:active {
  color: darkgray;
  visibility: collapse;
}

.App {
  text-align: center;
}
.cmnt {
  width: 16px;
  height: auto;
}
.vte {
  width: 16px;
  height: auto;
}
.vte:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.vte1 {
  width: 20px;
  height: auto;
}
.vte1:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.card {
  text-align: center;
  width: 75%;
  display: flex;
  gap: 5%;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin: auto;
  justify-content: column;
  background-color: lightgrey;
  border-radius: 10px;
  filter: opacity(0.94);
}
.commentSection {
  border: black solid 1px;
  background-color: darkgray;
  list-style-type: none;
  border-radius: 5px;
}
.post {
  margin-bottom: 2%;
}
.postComment {
  height: 10%;
  text-align: center;
  display: flex;
  /* top:1; */
  flex-direction: row;
  align-items: center;
  padding: 3%;
  margin: none;
  justify-content: row;
  background-color: rgb(0, 0, 0);
  resize: none;
  color: white;
}
.inputBox {
  width: 100%;
  height: 90%;
  min-height: min-content;
  resize: none;
  align-self: left;
  margin: none;
  padding-top: 10px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
form {
  width: 100%;
  margin: 0;
}
.cCard {
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  /* top:1; */
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: auto;
  justify-content: column;
  background-color: rgb(36, 36, 36);
  list-style-type: none;
  filter: opacity(0.94);
  border-bottom: solid 0.2px rgba(139, 139, 139, 0.137);
}
.post {
  margin-bottom: 1%;
}

.post:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.tools {
  display: flex;
  width: 80%;
  flex-direction: row;
  margin: auto;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;
}
.votes {
  margin: 1%;
}
.commentNum {
  margin: 1%;
}
.date {
  margin: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  float: inherit;
  top: 0;
  background-color: #1b1b1b;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 3%;
  margin-bottom: 5%;
  /* margin: auto; */
  justify-content: space-between;
  z-index: 100;
}

.normal {
  text-decoration: none;
  color: black;
}

.burger {
  align-self: flex-end;
  margin: 5px;
  padding-right: 5%;
}
.sideBar {
  padding-top: 20px;
  position: fixed;
  background-color: #1b1b1b;
  top: 50px;
  /* right: 0; */
  /* left:0; */
  height: 100vh;
  width: 100%;
  z-index: 100;
  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  transform: translateX(-100%);
  transition: all 0.4s;
}
.listHeading {
  color: rgb(167, 167, 167);
}
.listHeading:active {
  color: rgb(27, 27, 27);
}
.sideBar li {
  list-style: none;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;
  font-weight: bold;
  border-width: 0.2px;
}
.linkBox {
  visibility: collapse;
}
.signInCard {
  text-align: center;
  width: 75%;
  display: flex;
  top: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  margin: auto;
  justify-content: space-between;
  background-color: lightgrey;
  border-radius: 10px;
  filter: opacity(0.94);
}
.sideBar li:active {
  background-color: rgb(63, 62, 62);
}
.sideBar--open {
  transform: translateX(0%);
}
.topicLink {
  color: white;
  font-size: 0;
  text-decoration: none;
}
.topicLinks {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 3%;
}
.sortLinks {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 3%;
}
.topicLink:active {
  color: darkgray;
}
.homeLink {
  text-decoration: none;
}
.logo {
  color: white;
  font-size: 2rem;
  padding-top: 2px;
  padding-right: 30px;
  margin: 2%;
  text-decoration: none;
}
.logo:active {
  color: darkgray;
}

@media (min-width: 640px) {
  body {
    background: url(https://wallpaperaccess.com/full/3204572.jpg) no-repeat
      center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
  }

  .App {
    text-align: center;
  }

  .card {
    text-align: center;
    width: 75%;
    display: flex;
    top: 1;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin: auto;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 10px;
    filter: opacity(0.97);
  }

  .signInCard {
    text-align: center;
    width: 75%;
    display: flex;
    top: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    margin: auto;
    justify-content: space-around;
    background-color: lightgrey;
    border-radius: 10px;
    filter: opacity(0.94);
    list-style: none;
  }
  .signInCard li {
    list-style: none;
    margin: 5%;
  }
  .commentSection {
    border: black solid 1px;
    background-color: darkgray;
  }
  .cTools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  .authorTag {
    align-self: flex-end;
    margin-right: 20px;
  }
  .bin {
    align-self: flex-start;
    margin-left: 1%;
    width: 10px;
    height: auto;
  }
  .tools {
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: auto;
    align-items: flex-end;
    justify-content: space-around;
  }
  .normal {
    text-decoration: none;
    color: black;
  }
  .votes {
    margin: 1%;
  }
  .commentNum {
    margin: 1%;
  }
  .date {
    margin: 1%;
  }
  .vte {
    width: 20px;
    height: auto;
  }
  .vte1 {
    width: 30px;
    height: auto;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .navBar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    float: inherit;
    top: 0;
    background-color: #1b1b1b;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
    margin-bottom: 5%;
    /* margin: auto; */
    justify-content: row;
    z-index: 100;
  }
  .box {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
    width: 100%;
    justify-content: space-between;
    padding-right: 10%;
  }
  .linkBox {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20%;
    width: 90%;
    padding-top: 2%;
    align-self: center baseline;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .userName {
    visibility: visible;
    color: white;
    font-size: 1.6rem;
    align-self: flex-end;
    text-decoration: none;
    font-weight: bold;
  }
  .userName:active {
    visibility: visible;
    color: darkgray;
  }
  .topicLink {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding-right: 10%;
  }
  .homeLink {
    text-decoration: none;
  }
  .burger {
    visibility: collapse;
    align-self: flex-end;
    margin: 5px;
    padding-right: 5%;
  }
  .signInButton {
    margin-top: 2%;
    border-radius: 20px;
    font-weight: bold;
  }
  .signInButton:active {
    margin-top: 2%;
    border-radius: 20px;
    font-weight: bold;
    background-color: darkgray;
  }
  .logo {
    color: white;
    font-size: 3rem;
    padding-right: 30px;
    margin: 2%;
    text-decoration: none;
  }

  .dropbtn {
    background-color: #1b1b1b;
    /* position: absolute; */
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding-right: 10%;
    border: none;
    cursor: pointer;
    filter: opacity(0.99);
    border-left: rgba(139, 139, 139, 0.137);
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0%;
    justify-content: center;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;

    background-color: #1b1b1b;
    margin-top: 12%;

    min-width: 200px;
    border-radius: 10px;
    z-index: 2;
  }
  .dropdown-content1 {
    display: none;

    background-color: #1b1b1b;
    margin-top: 10%;

    min-width: 200px;
    border-radius: 10px;
    z-index: 2;
  }

  /* Links inside the dropdown */
  .dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 80%;
    margin-left: 2%;
    align-self: center;
    border-radius: 10px;
    margin: auto;
  }
  .dropdown-content1 button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 80%;
    margin-left: 2%;
    align-self: center;
    border-radius: 10px;
    margin: auto;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #2e2e2e;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content1 a:hover {
    background-color: #2e2e2e;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    position: fixed;
    display: block;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content1 {
    position: fixed;
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #1b1b1b;
    color: darkgray;
  }
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #1b1b1b;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}
